/* Background color for page */
body {
    background-color: #a3a375;
    margin: 10px;
}

footer  {
    margin-top: 100px;
    padding: 0px;
}

h1  {
  color: #990000;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 48px;
  height: 20px;
  padding: 45px;
}

p   {
    margin-right: 75px;
    margin-left: 75px
}

/* --- Nav Bar --- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #404040;
  font-family: arial,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
  /* This is a three digit code. Same as #111111 */
  background-color: #666633;
}